language: python

python:
  - "3.6"
  - "3.7"

# command to install dependencies
install:
  - sudo apt-get update
  - sudo apt install libtesseract-dev
  - sudo apt install libleptonica-dev
  - sudo apt install tesseract-ocr
  - pip install -r requirements.txt --upgrade
  - pip install -r requirements.testing.txt --upgrade

# command to run tests
script:
  - py.test -s -v --cov-report xml --cov=vl

after_success:
  - codecov
