{
  "swagger": "2.0",
  "info": {
    "description": "VerifID - Identity Verification Layer",
    "version": "1.0.0",
    "title": "Identity Verification Layer",
    "license": {
      "name": "MIT",
      "url": "https://github.com/verifid/vl/blob/master/LICENSE"
    }
  },
  "host": "api.verifid.app",
  "basePath": "/v1",
  "tags": [
    {
      "name": "user",
      "description": "User going to identified."
    },
    {
      "name": "image",
      "description": "User's image is going to be used for verification."
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/user/sendData": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Creates a user for verification.",
        "description": "",
        "operationId": "sendData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User object that needs to be added temporarly.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Values received and user created!",
            "schema": {
              "$ref": "#/definitions/UserDataResponse"
            }
          },
          "400": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/image/uploadProfile": {
      "post": {
        "tags": [
          "image"
        ],
        "summary": "Uploads a profile image.",
        "description": "",
        "operationId": "uploadProfile",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "formData",
            "description": "ID of user to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "Profile picture to upload.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "204": {
            "description": "Failed operation, no user found with given id.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Failed operation, no user id found on request.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/image/uploadIdentity": {
      "post": {
        "tags": [
          "image"
        ],
        "summary": "Uploads an identity card image.",
        "description": "",
        "operationId": "uploadIdentity",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "formData",
            "description": "ID of user to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "Identity picture to upload.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "204": {
            "description": "Failed operation, no user found with given id.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Failed operation, no user id found on request.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "gender": {
          "type": "string"
        },
        "dateOfBirth": {
          "type": "string"
        },
        "placeOfBirth": {
          "type": "string"
        },
        "country": {
          "type": "string"
        }
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "UserDataResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "userId": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}
